
.container_studens{
   
    background: white;
    height: 100%;
}
.contenido_table{
    display: flex;
    height: 90%;
    flex-flow: column;
    
    align-items: center;
    
}
.puntos{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.table{
   width: 95%;

}