
.container_studens{
   
    background: white;
    height: 100%;
}
.contenido_table{
    display: flex;
    height: 90%;
    flex-flow: column;
    
    align-items: center;
    
}
.create{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.table{
   width: 95%;
   background-color: gray;

}

#table{
    background-color: rgb(255, 200, 0);
}