@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

.container_body {
    display: flex;
    flex-flow: column;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow: hidden;
}

nav {
    height: 4rem;
}

.container_main {
    display: flex;
    height: calc(100vh - 4rem);
    width: 100vw;

}



.main {
 display: flex;
 flex-flow: row;
}

/* Toggle Styles */

#viewport {
 display: flex;
 flex-flow: column;
 flex: .2;
 height: calc(100vh - 4rem);
}
.contenido{
  display: flex;
  flex-flow: column;
  flex: 1;
}
#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Sidebar Styles */

#sidebar {

 color:white ;
 
  height: 100%;
 
  overflow-y: auto;
  background: #37474F;
  
}
#icono {
  height: .7rem;
  align-items: center;
  display: flex;
  margin-left: 10px;
  color: aliceblue;
}

#sidebar header {
  background-color: #263238;
  font-size: 20px;
  line-height: 52px;
  text-align: center;
}

#sidebar header a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#sidebar header a:hover {
  color: #fff;
}



#sidebar .nav a{
  background: none;
  border-bottom: 1px solid #455A64;
  color: #CFD8DC;
  font-size: 14px;
  padding: 16px 24px;
}

#sidebar .nav a:hover{
  background: none;
  color: #ECEFF1;
}

#sidebar .nav a i{
  margin-right: 16px;
}